/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Ja KooLit - Global rofi fonts */

/* This is where you can change fonts and sizes */


/* font: "JetBrainsMono Nerd Font SemiBold 13"; */

/*****-- Fonts Size and Font Size -----*****/
configuration {
font: "Fira Code Medium 13";
}



/*****-- Elements Font Size -----*****/
element-text {
font: "Fira Code Medium 11";
}
